{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<h1>Signup</h1>

<form method="POST">

  {{form.hidden_tag()}}


  {% for field in form if field.widget.input_type != 'hidden' %}

  {% for error in field.errors %}
  <div class="alert alert-danger">{{error}}</div>
  {% endfor %}

  <div class="form-group mb-2 row">
    {{field.label(class="col-2 col-form-label")}}
    <div class="col-4">
      {{field(class="form-control")}}
    </div>
  </div>

  {% endfor %}

  <button class="btn btn-primary">Sign up</button>
</form>

{% endblock %}